---
import Name from "./Name"
import SocialNetworks from "./SocialNetworks.astro"
---

<section class="flex flex-row max-[815px]:flex-col-reverse max-[815px]:gap-10 justify-between items-center">
    <header class="flex flex-col gap-2 max-[450px]:gap-4">
        <h1 class="text-5xl robotoSlab text-balance leading-16 max-[450px]:text-center">
            Hi, I'm
            <br class="hidden max-[450px]:block" />
            <Name client:load /> <span class="emoji">🥇</span>
        </h1>
        <p class="text-balance text-2xl text-pink-500 font-extrabold max-[815px]:text-center">
            Full Stack Developer
        </p>
    </header>

    <div class="flex flex-col items-center gap-1">
        <img width="300px" src="/images/profile.png" class="rounded-full" />
        <SocialNetworks />
    </div>
</section>
