---
import Tags from "../../layouts/Tags.astro";
import Sticked from "../Sticked.astro";
import Next from "./tags/Next.astro";
import Tailwind from "./tags/Tailwind.astro";
import Typescript from "./tags/Typescript.astro";
---

<article class="flex flex-col gap-2">
    <div class="flex flex-row justify-between rounded">
        <div class="flex flex-col gap-2">
            <h2 class="font-bold text-2xl">
                Brilliant Chess
            </h2>
            <div class="text-lg leading-6 flex flex-col gap-2">
                <p>
                    A web app to analyze chess games for <b>FREE</b> like <b>chess.com</b> does for <b>5.5$/mo</b>.
                </p>
                <p>
                    It is powered by the <b>StockFish</b> engine in <b>Web Assembly</b>.
                </p>
            </div>
        </div>
        <Sticked className="min-w-2/5 max-w-2/5 h-fit">
            <img class="shadow-sm" src="/images/projects/brilliant-chess.png" />
        </Sticked>
    </div>
    <Tags>
        <Next />
        <Tailwind />
        <Typescript />
    </Tags>
</article>