---
import Tags from "../../layouts/Tags.astro";
import Sticked from "../Sticked.astro";
import React from "./tags/React.astro";
import Tailwind from "./tags/Tailwind.astro";
---

<article class="flex flex-col gap-3">
    <Sticked className="w-full h-fit">
        <img class="w-full shadow" src="/images/projects/dazboard.png" />
    </Sticked>
    <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
            <h2 class="font-bold text-2xl">DazBoard</h2>
            <div class="text-lg leading-6 flex flex-col gap-2">
                <p>
                    A bento style <b>home page</b> for any web browser.
                </p>
                <p>
                    It includes multiple api calls to get IP based <b
                        >location</b
                    >, <b>weather</b> and <b>connection speed</b>.
                </p>
                <p>
                    It includes a OSX style <b>taskbar</b> with <b
                        >drag and drop</b
                    > made <b>from scratch</b>.
                </p>
            </div>
        </div>
        <Tags>
            <React rotate={2} />
            <Tailwind rotate={-1} />
        </Tags>
    </div>
</article>
