---
import SectionTitle from "../SectionTitle.astro";
import ProjectContainer from "./ProjectContainer.astro";
import BrilliantChess from "./projects/BrilliantChess.astro";
import DazBoard from "./projects/DazBoard.astro";
import EscapeAI from "./projects/EscapeAI.astro";
import HTBMadeEZ from "./projects/HTBMadeEZ.astro";
import Inflatio from "./projects/Inflatio.astro";
---

<section>
    <header>
        <SectionTitle>Some of my Projects</SectionTitle>
    </header>

    <ul class="grid grid-cols-5 gap-5">
        <ProjectContainer cols={5} rotate={1} color="var(--color-yellow-100)">
            <BrilliantChess />
        </ProjectContainer>
        <ProjectContainer cols={2} rows={2} rotate={-1} color="var(--color-blue-100)">
            <DazBoard />
        </ProjectContainer>
        <ProjectContainer cols={3} rotate={1} color="var(--color-green-100)">
            <HTBMadeEZ />
        </ProjectContainer>
        <ProjectContainer cols={3} rows={2} rotate={0.5} color="var(--color-red-100)">
            <Inflatio />
        </ProjectContainer>
        <ProjectContainer cols={2} rows={2} rotate={1} color="var(--color-sky-100)">
            <EscapeAI />
        </ProjectContainer>
    </ul>
</section>