---
import Github from "./socialNetworks/Github.astro";
import Linkedin from "./socialNetworks/Linkedin.astro";
---

<nav>
    <ul class="flex flex-row ml-[-4px]">
        <li>
            <a class="block p-1 socialNetworkAnchor">
                <Linkedin />
            </a>
        </li>
        <li>
            <a class="block p-1 socialNetworkAnchor">
                <Github />
            </a>
        </li>
    </ul>
</nav>

<style>
    :global(.socialNetworkAnchor > div, .socialNetworkAnchor svg) {
        transition: 150ms;
    }

    :global(.socialNetworkAnchor:hover > div) {
        background-color: var(--text);
    }

    :global(.socialNetworkAnchor:hover svg) {
        fill: white !important;
    }
</style>