---
const { border } = Astro.props
---

<li style={{ borderWidth: border ? "2px" : undefined }} class="w-fit border-current h-fit font-bold text-base relative flex flex-row gap-1 px-1.5 shadow items-center py-0.5 bg-white/85 will-change-transform">
    <slot />
</li>