---
import SectionTitle from "../SectionTitle.astro";
import Quote from "./quotes/Quote.astro";
---

<section>
    <header>
        <SectionTitle>About Me</SectionTitle>
    </header>

    <div class="flex flex-row max-[750px]:flex-col gap-10">
        <div class="text-lg leading-6 *:mt-2 -mt-2 flex-grow">
            <p>
                I'm a 19-year-old full-stack software developer with a strong drive for learning and a passion for <b>building creative solutions to real-world problems</b>.
            </p>
            <p>
                Beyond coding, I'm interested in business and how technology can create real value. I aim to <b>think not just as a developer, but also as a builder with a business mindset</b>.
            </p>
        </div>

        <div class="min-w-[250px] max-w-[250px] max-[750px]:min-w-full max-[750px]:max-w-full">
            <Quote author="Peter Drucker">
                Innovation is the specific instrument of entrepreneurship, the act that endows resources with a new capacity to create wealth.
            </Quote>
        </div>
    </div>
</section>