---
import About from '../components/about/About.astro';
import Experience from '../components/experience/Experience.astro';
import Presentation from '../components/presentation/Presentation.astro';
import Projects from '../components/projects/Projects.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Delo">
	<header></header>

	<main class="flex flex-col gap-6">
		<Presentation />
		<hr />
		<About />
		<Experience />
		<Projects />
	</main>

	<footer></footer>
</Layout>