---
import Presentation from '../components/presentation/Presentation.astro';
import Projects from '../components/projects/Projects.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Delo">
	<header></header>

	<main class="flex flex-col gap-6">
		<Presentation />
		<hr />
		<Projects />
	</main>

	<footer></footer>
</Layout>