---
import SectionTitle from "../SectionTitle.astro";
import SocialNetworks from "./SocialNetworks.astro";
---

<section>
    <SectionTitle>Contact Me</SectionTitle>

    <div class="text-lg flex flex-col items-center gap-7.5">
        <p>
            If you believe my profile aligns with your needs, either for a <b>position</b> or a <b>specific assignment</b>, please contact me.
        </p>

        <div>
            <SocialNetworks />
        </div>
    </div>
</section>