---
import SectionTitle from "../SectionTitle.astro";
import SocialNetworks from "./SocialNetworks.astro";
---

<section>
    <SectionTitle>Contact Me</SectionTitle>

    <div class="text-lg flex flex-col items-center gap-7.5">
        <p>
            If you are interested in <b>working with me</b>, either as an <b>employee</b> or for a <b>specific assignment</b>, please contact me through one of the following methods:
        </p>

        <div>
            <SocialNetworks />
        </div>
    </div>
</section>