---
import Linkedin from "../socialNetworks/socialNetworks/Linkedin.astro";
import Mail from "../socialNetworks/socialNetworks/Mail.astro";
---

<nav>
    <ul class="flex flex-row ml-[-4px]">
        <li>
            <Mail />
        </li>
        <li>
            <Linkedin />
        </li>
    </ul>
</nav>