---
import ProjectContainer from "./projects/ProjectContainer.astro";
import BrilliantChess from "./projects/projects/BrilliantChess.astro";
import DazBoard from "./projects/projects/DazBoard.astro";
import EscapeAI from "./projects/projects/EscapeAI.astro";
import HTBMadeEZ from "./projects/projects/HTBMadeEZ.astro";
import Inflatio from "./projects/projects/Inflatio.astro";
---

<section class="flex flex-col gap-6">
    <h1 class="text-4xl font-extrabold">Some of my Projects</h1>
    <ul class="grid grid-cols-5 gap-5">
        <ProjectContainer cols={5} rotate={1} color="var(--color-yellow-100)">
            <BrilliantChess />
        </ProjectContainer>
        <ProjectContainer cols={2} rows={2} rotate={-1} color="var(--color-blue-100)">
            <DazBoard />
        </ProjectContainer>
        <ProjectContainer cols={3} rotate={1} color="var(--color-green-100)">
            <HTBMadeEZ />
        </ProjectContainer>
        <ProjectContainer cols={3} rows={2} rotate={0.5} color="var(--color-red-100)">
            <Inflatio />
        </ProjectContainer>
        <ProjectContainer cols={2} rows={2} rotate={1} color="var(--color-sky-100)">
            <EscapeAI />
        </ProjectContainer>
    </ul>
</section>