---
import Icon from "./Icon.astro"

const { author } = Astro.props
---

<blockquote class="bg-yellow-200 shadow shadow-black/25 w-full h-full p-2 flex flex-col justify-end text-black text-base/snug relative pt-10">
    <div class="absolute top-2 left-2 flex flex-row gap-1">
        <Icon />
        <Icon />
    </div>
    <slot />
    <span class="italic opacity-75 mt-3">- {author}</span>
</blockquote>