---
import { flag, name } from 'country-emoji'
import SectionTitle from "../SectionTitle.astro";
import Timeline, { type TimelineItem } from "../Timeline.astro";

interface ExperienceItem {
    date: { from: Date, to: Date }
    title: string
    company: {
        name: string
        location: {
            city: string
            country: string
        }
    }
    description: string
}

function experience2timeline(experienceItem: ExperienceItem): TimelineItem {
    const countryFlag = flag(experienceItem.company.location.country)

    return {
        ...experienceItem,
        description: `
***${experienceItem.company.name}, ${experienceItem.company.location.city} <span title="${name(countryFlag ?? "") ?? ""}" class="emoji">${countryFlag ?? ""}</span>***

<div class="h-1.5"></div>

${experienceItem.description}
        `.trim()
    }
}

const experience: ExperienceItem[] = [
    {
        date: {
            from: new Date("2025-03"),
            to: new Date("2025-05")
        },
        title: "C# and Python Programmer (Erasmus Internship)",
        company: {
            name: "Laus CC",
            location: {
                city: "Dubrovnik",
                country: "Croatia",
            }
        },
        description: `
* Develop an AI-powered support chat to log and view customer requests or issues.

* Develop and integrate an AI chat into Microsoft Teams that automatically generates SQL queries for the internal database to make data access easier for non-technical users.
        `.trim(),
    },
]

const timelineItems = experience.map(experience2timeline)
---

<section>
    <header>
        <SectionTitle>Work Experience</SectionTitle>
    </header>

    <Timeline items={timelineItems} titleColor="var(--color-purple-800)" />
</section>