---
import Sticked from "../Sticked.astro";
import Tags from "../../tags/Tags.astro";
import Python from "../../tags/tags/Python.astro";
import TextContainer from "../TextContainer.astro";
import Title from "../Title.astro";
---

<article class="flex flex-col gap-4">
    <div>
        <Sticked className="w-full max-[815px]:w-1/2 h-fit float-right max-[815px]:ml-3 mb-3">
            <img class="w-full shadow" src="/images/projects/escapeai.png" />
        </Sticked>
        <Title>Escape AI</Title>
        <TextContainer>
            <p>
                A game where a plane escapes from enemy aircraft. A <b>deep reinforcement learning model</b> learns to play it autonomously.
            </p>
            <p>
                This project combines simple <b>game development</b>, basic physics, and <b>AI</b> techniques.
            </p>
        </TextContainer>
    </div>
    <Tags>
        <Python />
    </Tags>
</article>