---
import Tags from "../../tags/Tags.astro";
import Sticked from "../Sticked.astro";
import React from "../../tags/tags/React.astro";
import Tailwind from "../../tags/tags/Tailwind.astro";
import TextContainer from "../TextContainer.astro";
import TypeScript from "../../tags/tags/TypeScript.astro";
import Title from "../Title.astro";
import htbMadeEZ from "../../../images/projects/htb-made-ez.png"
import { Image } from "astro:assets";
---

<article class="flex flex-col gap-4">
    <div>
        <Sticked className="w-4/7 max-[815px]:w-1/2 max-[550px]:w-full max-[550px]:ml-0 h-fit float-right ml-3 mb-3">
            <Image class="shadow-sm w-full" src={htbMadeEZ} width={500} alt="htb made ez" />
        </Sticked>
        <Title>
            HTB Made EZ
        </Title>
        <TextContainer>
            <p>
                Walkthroughs for the <b>HackTheBox</b> CTF platform, written in an <b>easy-to-understand</b> format.
            </p>
            <p>
                All writeups are created in <b>Markdown</b>, enhanced with custom components.
            </p>
        </TextContainer>
    </div>
    <Tags>
        <React />
        <Tailwind />
        <TypeScript />
    </Tags>
</article>
