---
import Sticked from "../Sticked.astro";
import Tags from "../../tags/Tags.astro";
import AstroTag from "../../tags/tags/AstroTag.astro";
import Tailwind from "../../tags/tags/Tailwind.astro";
import TypeScript from "../../tags/tags/TypeScript.astro";
import TextContainer from "../TextContainer.astro";
import Title from "../Title.astro";
---

<article class="flex flex-col gap-4">
    <div>
        <Sticked className="w-1/2 float-right ml-3 mb-3">
            <img src="/images/projects/inflatio.png" class="w-full shadow" />
        </Sticked>
        <Title>
            Inflatio
        </Title>
        <TextContainer>
            <p>
                An <b>inflation calculator</b> that shows how inflation has impacted your wallet over time.
            </p>
            <p>
                It fetches inflation data from the <b>World Bank API</b> and calculates value changes based on the amount and year you provide.
            </p>
            <p>
                The app includes <b>custom-built charts</b> to visualize the data clearly and effectively.
            </p>
        </TextContainer>
    </div>
    <Tags>
        <AstroTag />
        <Tailwind />
        <TypeScript />
    </Tags>
</article>
