---
const { rotate } = Astro.props
---

<div style={`border-color: var(--lighter); transform: rotate(${rotate}deg); color: var(--lighter)`} class="w-fit h-fit font-bold text-base relative flex flex-row gap-1 px-1.5 shadow-xs items-center py-0.5 bg-white/85 will-change-transform">
    <slot />
</div>