---
import { flag } from "country-emoji"
import SectionTitle from "../SectionTitle.astro";

interface Language {
    name: string
    level: "Native" | "Fluent" | "Learning"
    country: string
}

const languages: Language[] = [
    {
        name: "Spanish",
        level: "Native",
        country: "Spain"
    },
    {
        name: "English",
        level: "Fluent",
        country: "United Kingdom"
    },
    {
        name: "German",
        level: "Learning",
        country: "Germany"
    },
]
---

<section>
    <header>
        <SectionTitle>Languages</SectionTitle>
    </header>

    <ul style="grid-template-columns: max-content max-content" class="grid text-xl">
        {languages.map(language => 
            <li class="font-bold flex flex-row items-center">
                <p>
                    <span class="emoji">{flag(language.country)}</span>
                    {language.name}
                </p>
                <hr class="min-w-5 flex-grow mx-2 border-current" />
            </li>
            <li>{language.level}</li>
        )}
    </ul>
</section>